body {
	background-color:#e8edfd;
	color: #00080;
	font-family: "Avenir Next", sans-serif;
}

h1 {
	text-align: center;
}

h5 {
	text-align: center;
}

img{
	display: block;
	margin: 0px auto;
	width: 200px;
}

p {
	margin-left: 100px;
}

ul{
	margin-left: 75px;
}

h4{
	margin-left: 50px;
}

.alert {
	display: inline-block;
	text-align: center;
	margin: 100px 0;
}